<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.gergo.kovacs.cfopalgorithms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_activity_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CFOPActivity"
            android:configChanges="orientation"
            android:label="@string/cfop_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrossActivity"
            android:configChanges="orientation"
            android:label="@string/cross_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".F2LActivity"
            android:configChanges="orientation"
            android:label="@string/f2l_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OLLActivity"
            android:configChanges="orientation"
            android:label="@string/oll_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PLLActivity"
            android:configChanges="orientation"
            android:label="@string/pll_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlgorithmDetail"
            android:configChanges="orientation"
            android:label="Algorithm details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebView"
            android:theme="@style/WebViewTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>